<<<<<<< HEAD
.MyRocketsUl {
  border: 1px solid #e1dfdf;
  border-radius: 2px;
  width: 40vw;
}
.MyRocketsUl li {
=======
.list {
  border: 1px solid #e1dfdf;
>>>>>>> 022d02b49408d72544758428e9ea8d8384481626
  padding: 1rem 3rem;
}