table {
  background-color: #e5e8eb;
  margin: 3rem;

  td {
    padding: 0.3rem;
  }

  tr:nth-child(odd) {
    background-color: white;
  }
  
  tr:nth-child(even) {
    background-color: #d8fffc;
  }
  
  th {
    text-align: start;
  }

  .name {
    display: flex;
    font-weight: bold;
  }

  .status {
    padding: 1rem;
    button {
      white-space: nowrap;
      padding: 0.4rem;
      border: none;
      border-radius: 0.2rem;
      background-color: rgb(168, 168, 168);
      color: white;
      font-weight: bold;
    }
  }

  .joinBtn {
    padding: 1rem;
    button {
      white-space: nowrap;
      padding: 0.4rem;
      background-color: #fad9bf;
      border: none;
      border-radius: 0.2rem;
      font-weight: bold;
    }
  }

  th {
    padding: 0.3rem;
  }
}
